@import url('https://fonts.googleapis.com/css?family=Prosto+One');

html,
body {
  height: 100%;
}

h1 {
  font-family: 'Prosto One', cursive;
  font-size: 3rem;
  align-items: center;
  font-style: italic;
}

h2 {
  font-family: 'Prosto One', cursive;
}

p {
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
  color: "red";
  align-items: center;
}

/* Configuraçoes do menu */
/*Centraliznado o menu*/
#menu {
  vertical-align: center;
  text-align: center;
}

#menu ul {
  padding: 0px;
  margin: 0px;
  background-color: #b9f7c8;
  /* Fundo Verde claro*/
  list-style: none;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  /* Visual do link */
 
  color: #333;
  text-decoration: none;
  border-bottom: 3px solid #56bf9d;
}

/* Efeito de botão*/
#menu ul li a:hover {
  background-color: #92adf5;
  color: #6D6D6D;
  border-bottom: 3px solid #0c77bf;
}


/*Final das configuraçoes do menu*/
h1 {
  text-align: center;
}

h5 {
text-align: center;
  color: rgb(0, 26, 255);
}

#rodape  {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #b9f7c8;
color: white;
text-align: center;
}

/* Menu com dropdown*/

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}